# User-specific R derivative files
.Rproj.user
.Rhistory
.RData

# Compiler derivatives
src/*.o
src/*.so
src/*.dll
src-x86_64
src-i386
# OSX derivative
.DS_Store
# vignette derivatives
README.html
vignettes/*.gz
vignettes/poppr_manual-*.pdf
vignettes/*.log
# I believe this was for vi mistakes
*.swp
# plots from tests
tests/testthat/Rplots.pdf
inst/doc
docs
