export("namehierarchy<-")
export("sethierarchy<-")
export("setpop<-")
export("splithierarchy<-")
export(as.genclone)
export(bruvo.boot)
export(bruvo.dist)
export(bruvo.msn)
export(clonecorrect)
export(diss.dist)
export(genind2genalex)
export(getfile)
export(gethierarchy)
export(greycurve)
export(ia)
export(informloci)
export(is.genclone)
export(missingno)
export(mlg)
export(mlg.crosspop)
export(mlg.table)
export(mlg.vector)
export(namehierarchy)
export(poppr)
export(poppr.all)
export(poppr.amova)
export(poppr.msn)
export(popsub)
export(read.genalex)
export(sethierarchy)
export(setpop)
export(shufflepop)
export(splitcombine)
export(splithierarchy)
exportClasses(bootgen)
exportClasses(bruvomat)
exportClasses(genclone)
import(adegenet)
import(ggplot2)
import(methods)
import(vegan)
importFrom(ade4,amova)
importFrom(ade4,cailliez)
importFrom(ade4,is.euclid)
importFrom(ade4,lingoes)
importFrom(ade4,quasieuclid)
importFrom(ape,add.scale.bar)
importFrom(ape,axisPhylo)
importFrom(ape,boot.phylo)
importFrom(ape,ladderize)
importFrom(ape,nj)
importFrom(ape,nodelabels)
importFrom(ape,plot.phylo)
importFrom(ape,tiplabels)
importFrom(igraph,"E<-")
importFrom(igraph,"V<-")
importFrom(igraph,E)
importFrom(igraph,V)
importFrom(igraph,graph.adjacency)
importFrom(igraph,minimum.spanning.tree)
importFrom(igraph,plot.igraph)
importFrom(igraph,print.igraph)
importFrom(pegas,as.loci)
importFrom(phangorn,midpoint)
importFrom(phangorn,upgma)
importFrom(reshape2,melt)
useDynLib(poppr)
