export(bruvo.boot)
export(bruvo.dist)
export(bruvo.msn)
export(clonecorrect)
export(diss.dist)
export(genind2genalex)
export(getfile)
export(greycurve)
export(ia)
export(informloci)
export(missingno)
export(mlg)
export(mlg.crosspop)
export(mlg.table)
export(mlg.vector)
export(poppr)
export(poppr.all)
export(poppr.msn)
export(popsub)
export(read.genalex)
export(shufflepop)
export(splitcombine)
exportClasses(bootgen)
import(adegenet)
import(ggplot2)
import(pegas)
import(vegan)
importFrom(ape,axisPhylo)
importFrom(ape,boot.phylo)
importFrom(ape,ladderize)
importFrom(ape,nj)
importFrom(ape,nodelabels)
importFrom(ape,plot.phylo)
importFrom(ape,tiplabels)
importFrom(igraph,"E<-")
importFrom(igraph,"V<-")
importFrom(igraph,E)
importFrom(igraph,V)
importFrom(igraph,graph.adjacency)
importFrom(igraph,minimum.spanning.tree)
importFrom(igraph,plot.igraph)
importFrom(igraph,print.igraph)
importFrom(phangorn,midpoint)
importFrom(phangorn,upgma)
useDynLib(poppr)
