.DS_Store
._.DS_Store
Rplots.pdf
poppr_manual-094.pdf
poppr_manual-095.pdf
poppr_manual-097.pdf
poppr_manual-100.pdf
poppr_manual-103.pdf
poppr_manual-107.pdf
poppr_manual-108.pdf
poppr_manual-110.pdf
poppr_manual-119.pdf
poppr_manual-120.pdf
poppr_manual-121.pdf
poppr_manual-122.pdf
poppr_manual-concordance.tex
poppr_manual-ggplotchart.pdf
poppr_manual-mlgbarplot.pdf
poppr_manual-mlgrareplot.pdf
poppr_manual-popcompare_bruvo2.pdf
poppr_manual-subnor.pdf
poppr_manual-bruvo.msn.pdf
poppr_manual.tex
poppr_manual.log
poppr_manual.pdf
poppr_manual.toc
poppr_manual.bbl
poppr_manual.synctex.gz
poppr_manual-bruvo.tree.pdf
poppr_manual-bruvo_msn.pdf
poppr_manual-bruvo_tree.pdf
poppr_manual-099.pdf
poppr_manual-102.pdf
poppr_manual-123.pdf
poppr_manual-124.pdf
poppr_manual-125.pdf
poppr_manual-126.pdf
poppr_manual-127.pdf
poppr_manual-128.pdf
poppr_manual-129.pdf
poppr_manual-greycurve_normal.pdf
poppr_manual-greycurve_small_heavy.pdf
poppr_manual-greywidth_inverse.pdf
poppr_manual-greywidth_large_heavy.pdf
poppr_manual-poppr_msn_fig.pdf
poppr_manual.aux
poppr_manual-101.pdf
poppr_manual-104.pdf
poppr_manual-130.pdf
poppr_manual-131.pdf
poppr_manual-136.pdf
poppr_manual-137.pdf
poppr_manual-106.pdf
poppr_manual-109.pdf
poppr_manual-135.pdf
poppr_manual-113.pdf
poppr_manual-112.pdf
*.bbl
*.toc
*.log
figure
